.skl-cst p{
    margin: 10px 0px;
 }

 .skl-cst ion-row ion-col p{
    margin: 0px 0px;
 }

 ion-segment-button{
   ion-label{
       font-weight: 600;
   }
}

ion-chip{
   ion-label{
       font-weight: 600;
   }
}