<!-- <ion-buttons  *ngIf="(isLoggedIn === true)">
  <ion-button (click)="go_to_notifications()">
    <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="go_to_cart()">
    <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="go_to_profile()">
    <ion-icon slot="icon-only" name="person-outline"></ion-icon>
  </ion-button>
</ion-buttons> -->

<!-- <div *ngIf="(isLoggedIn === true)" style="display:flex;align-items:center;">
<ion-buttons>
  <ion-button (click)="go_to_notifications()">
    <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
  </ion-button>
  <ion-button (click)="go_to_cart()">
    <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
  </ion-button>
</ion-buttons>
<ion-avatar  (click)="go_to_profile()" style="height: 30px; width: 30px; margin-right: 15px;">
  <img src="assets/dan.jpg">
</ion-avatar>
</div> -->


<!-- <ion-chip *ngIf="(isLoggedIn === true)">
  <ion-buttons>
    <ion-button size="small" fill="solid" shape="round" color="medium">
      <ion-icon  size="small" slot="icon-only" name="pencil"></ion-icon>
    </ion-button>&nbsp;
    <ion-button size="small" fill="solid" shape="round" color="medium">
      <ion-icon  size="small" slot="icon-only" name="pencil"></ion-icon>
    </ion-button>
    </ion-buttons>&nbsp;
    <ion-avatar  style="height: 30px; width: 30px; margin-right: 15px;">
      <img src="assets/dan.jpg">
    </ion-avatar>
</ion-chip> -->


<ion-item  *ngIf="(isLoggedIn === true)" style="--background:transparent;" lines="none">
  <!-- <ion-buttons>
    <ion-button (click)="go_to_notifications()">
      <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
    </ion-button>
    <ion-button (click)="go_to_cart()">
      <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-avatar (click)="go_to_profile()" slot="end">
    <img src="assets/dan.jpg">
  </ion-avatar> -->

  <ion-row style="width:100%; align-items: center;--inner-padding-end: 0px;">
    <ion-col size="8">
      <ion-buttons>
        <ion-button (click)="go_to_notifications()">
          <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="go_to_cart()">
          <ion-icon slot="icon-only" name="bag-handle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="4">
      <ion-avatar (click)="go_to_profile()">
        <img src="assets/dan.jpg">
      </ion-avatar>
    </ion-col>
  </ion-row>
</ion-item>

<!-- <div  *ngIf="(!isLoggedIn === true)" style="display:flex;align-items: center;">
<ion-buttons>
<ion-button size="small" fill="solid" shape="round" color="medium">
  <ion-icon  size="small" slot="icon-only" name="pencil"></ion-icon>
</ion-button>&nbsp;
<ion-button size="small" fill="solid" shape="round" color="medium">
  <ion-icon  size="small" slot="icon-only" name="pencil"></ion-icon>
</ion-button>
</ion-buttons>&nbsp;
<ion-avatar  style="height: 30px; width: 30px; margin-right: 15px;">
  <img src="assets/dan.jpg">
</ion-avatar>
</div> -->









<!-- <ion-buttons *ngIf="(isLoggedIn === false)">
  <ion-button (click)="go_to_login()">Login
  </ion-button>
</ion-buttons> -->


<ion-item  *ngIf="(isLoggedIn === false)" style="--background:transparent;" lines="none">
  <ion-buttons>
    <ion-button (click)="go_to_login()">Login</ion-button>
  </ion-buttons>
</ion-item>




<ion-toolbar>
  <ion-row style="width:100%;align-items: center;">
    <!-- <ion-col size="1.5">
      <ion-buttons>
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-col> -->
    <!-- <ion-col size="9">
      <div style="background: #f1f3f4;border-radius: 25px;display: flex;align-items: center;justify-content: space-between;padding: 0px 14px;">
        <div (click)="open_searchModal()" style="display:inline-flex;align-items:center;opacity: 0.8">        
          <ion-icon name="search-outline" style="font-size:18px;"></ion-icon>
          <span style="font-size:15px;">&nbsp;&nbsp;Search</span>
        </div>
        <div  *ngIf="(isLoggedIn === true)" >
          <ion-buttons>
            <ion-button (click)="go_to_notifications()" style="width: 42px;height: 42px;">
              <ion-icon slot="icon-only" name="notifications-outline" style="color:#6b6b6b;"></ion-icon>
            </ion-button>
            <ion-button (click)="go_to_cart()" style="width: 42px;height: 42px;">
              <ion-icon slot="icon-only" name="bag-handle-outline" style="color:#6b6b6b;"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <div  *ngIf="(isLoggedIn === false || isLoggedIn === undefiend)">
          <ion-buttons>
            <ion-button (click)="go_to_login()" style="--color: #46b3ec !important;">Login</ion-button>
          </ion-buttons>
        </div>
      </div>
    </ion-col> -->
    
    <ion-col  size="1.5">
      <ion-avatar *ngIf="(isLoggedIn === true)"  (click)="go_to_profile()">
        <img  src="assets/dan.jpg"  onError="this.src='assets/no_img.jpeg'">
      </ion-avatar>
      <ion-avatar *ngIf="(isLoggedIn === false || isLoggedIn === undefiend)"  (click)="go_to_login()">
        <img src="assets/no_user.jpeg">
      </ion-avatar>
    </ion-col>
  </ion-row>
</ion-toolbar>



<ion-header>


  
</ion-header>


