ion-button{
    height:44px !important;
}

.orline{
    position: relative;top: -5px;
}
.inputLabel{
    margin-bottom: 10px;font-size:16px; color:#10183B;
}
.inputBox{
    border:1px solid #C7D1FF;border-radius:5px;--padding-start:10px;
    --padding-end: 5px;
    font-size:14px;
}
