<ion-header class="ion-no-border" #header>
  <ion-toolbar #toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button text=""  defaultHref=""></ion-back-button>
    </ion-buttons> -->

    <app-bk-btn slot="start"></app-bk-btn>
    <!-- <ion-title class="ion-text-start">Forgot Password</ion-title> -->
    <ion-label slot="start" style="color: #ffffff;font-weight: 600;font-size: 20px;padding: 0px 10px;">Forgot Password</ion-label>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"  [scrollEvents]="true">
  <div>
    <div style="width:100%; height: 260px; overflow:hidden;position:relative;top:-85px;">
       <div style="height: 260px;"><img style="height: 100%;width: 100%;" src="assets/baner.png"></div>
       <div style="display:none;position: absolute;font-size:25px;top:12%;left:5%;color:#ffffff;font-weight:800;"><div><strong>Forgot Password</strong></div></div>
       <div style="position: absolute;bottom:15.5%;right:5%;height:110px;">
        <img style="height: 100%; opacity: 0.9;" src="assets/game.png"></div>
    </div>
  
  
  
    <div style="margin: 0px 8px;position:relative;top:-75px;">
      <div style="font-size: 16px; opacity: 0.8; line-height: 1.6;letter-spacing: 0.5px;">  
       Please enter your email address. You will receive a link to create a new password via email.
      </div><br>

       <div>
        <form  #forgotPwdForm="ngForm" (ngSubmit)="forgotPwdForm.form.valid && forgot_password()" novalidate>
          <div style="margin:25px 2px;">
            <div class="inputLabel"><strong>Email Address</strong></div>
            <ion-input clearInput type="email" class="inputBox" placeholder="ex- dan@example.com" [(ngModel)]="userModal.email" name="email"
            #email="ngModel" required email></ion-input>

            <ion-text color="danger" *ngIf="(email.touched || forgotPwdForm.submitted) && email.errors?.required">
              <p style="font-size: 12px;margin: 5px;">Email address is required!</p>
            </ion-text>
            <ion-text color="danger" *ngIf="(email.touched && email.errors?.email)">
              <p style="font-size: 12px;margin: 5px;">Please enter a valid email address!</p>
            </ion-text>
          </div><br>
          <div>  
            <!-- <ion-button type="submit" expand="block" [disabled]="!forgotPwdForm.valid"
            style="--background: linear-gradient(92deg, #27F09D, #07ADEB) !important;--color: #ffffff !important">
            <strong>Reset</strong>
            </ion-button>   -->
            <ion-button type="submit" expand="block"
            style="--background: linear-gradient(92deg, #27F09D, #07ADEB) !important;--color: #ffffff !important">
            <strong>Reset</strong>
            </ion-button>  
          </div>
        </form><br>

        <!-- <form  #f="ngForm" (ngSubmit)="forgot_password(f)" (keyup.enter)="forgot_password(f)">
          <div style="margin:25px 2px;">
            <div class="inputLabel"><strong>Email Address</strong></div>
            <ion-input type="email" class="inputBox" placeholder="ex- dan@example.com" name="email" ngModel></ion-input>
          </div><br>
          <div>  <ion-button type="submit" expand="block" style="--background: linear-gradient(92deg, #27F09D, #07ADEB) !important;--color: #ffffff !important"><strong>Reset</strong></ion-button>  </div>
        </form><br> -->

  
        <div style="text-align:center;">
          <div style="margin: 0px 0px;">
            <div style="margin:0px 0px; font-weight: 600;"><a href="javascript:void(0)" [routerLink]="['/login']">Go Back</a></div>
          </div>
        </div>
       </div>
  
    </div>
  
  </div>
  </ion-content>
  