<ion-content fullscreen="true">

  <!-- <div style="display:flex;align-items:center;justify-content: center;height:100%;
    background-image: url(assets/splash.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;">
    <div style="height: 100%; width: 100%; display: flex; 
    align-items: center;justify-content: center; background-color: #0000003d;">
      <ion-spinner name="bubbles" style="color:#ffffff;transform: scale(1.5);"></ion-spinner>
    </div>
    
  </div>  -->

    <div style="display:flex;align-items:center;justify-content: center;height:100%;
    /* background-image: url(assets/splash.png); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;">
    <div style="height: 100%; width: 100%; display: flex; 
    align-items: center;justify-content: center; background-color: #0000003d;">
      <ion-spinner name="bubbles" style="color:#ffffff;transform: scale(1.5);"></ion-spinner>
    </div>
    
  </div> 


</ion-content>

<!-- <ion-content>
<ion-backdrop>

</ion-backdrop>
</ion-content> -->
