<ion-header class="ion-no-border" #header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button  icon="arrow-back"  text="" defaultHref=""></ion-back-button>
    </ion-buttons> -->

    <app-bk-btn slot="start"></app-bk-btn>
    <ion-text>Change Password</ion-text>
    <!-- <ion-title class="ion-text-start" (click)="myBackButton()">Change Password</ion-title> -->
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true"  [scrollEvents]="true">
  <div style="margin:30px 0px 0px;">
    <ion-card>
      <ion-card-content>
    <form  #pwdUpdateForm="ngForm" (ngSubmit)="pwdUpdateForm.form.valid && password_change()" [appMatchPassword]="['new_pass', 'con_pass']" novalidate>
      <div style="height:100px;">
        <div class="inputLabel"><strong>Old Password</strong><span style="color:#790000; margin-left:2px;">*</span></div>
        <div style="position: relative;display:flex;">
        <ion-input [type]="passwordTypeO" class="inputBox" placeholder="Enter Old Password" minlength="6"
                   [(ngModel)]="userModal.old_pass" name="old_pass" #old_pass="ngModel" required></ion-input>
            <ion-icon [name]="passwordIconO" class="passwordIcon" (click)='O_hideShowPassword()'></ion-icon>
        </div>

            <ion-text color="danger" *ngIf="(old_pass.touched || pwdUpdateForm.submitted) && old_pass.errors?.required">
              <p style="font-size: 12px;margin: 5px;">Old Password is required!</p>
            </ion-text>
            <ion-text color="danger" *ngIf="(old_pass.touched && old_pass.errors?.minlength)">
              <p style="font-size: 12px;margin: 5px;">Password should be at least 6 characters long!</p>
            </ion-text>
      </div>

      <div style="height:100px;">
        <div class="inputLabel"><strong>New Password</strong><span style="color:#790000; margin-left:2px;">*</span></div>
        <div style="position: relative;display:flex;">
        <ion-input [type]="passwordTypeN" class="inputBox" placeholder="Enter New Password" minlength="6"
                   [(ngModel)]="userModal.new_pass" name="new_pass" #new_pass="ngModel" required></ion-input>
            <ion-icon [name]="passwordIconN" class="passwordIcon" (click)='N_hideShowPassword()'></ion-icon>
        </div>

            <ion-text color="danger" *ngIf="(new_pass.touched || pwdUpdateForm.submitted) && new_pass.errors?.required">
              <p style="font-size: 12px;margin: 5px;">New Password is required!</p>
            </ion-text>
            <ion-text color="danger" *ngIf="(new_pass.touched && new_pass.errors?.minlength)">
              <p style="font-size: 12px;margin: 5px;">Password should be at least 6 characters long!</p>
            </ion-text>
      </div>

      <div style="height:100px;">
        <div class="inputLabel"><strong>Confirm Password</strong><span style="color:#790000; margin-left:2px;">*</span></div>
        <div style="position: relative;display:flex;">
        <ion-input [type]="passwordTypeC" class="inputBox" placeholder="Enter Confirm Password" minlength="6"
                   [(ngModel)]="userModal.con_pass" name="con_pass" #con_pass="ngModel" required></ion-input>
            <ion-icon [name]="passwordIconC" class="passwordIcon" (click)='C_hideShowPassword()'></ion-icon>
        </div>

            <ion-text color="danger" *ngIf="(con_pass.touched || pwdUpdateForm.submitted) && con_pass.errors?.required">
              <p style="font-size: 12px;margin: 5px;">Confirm Password is required!</p>
            </ion-text>
            <ion-text color="danger" *ngIf="(con_pass.touched && con_pass.errors?.minlength)">
              <p style="font-size: 12px;margin: 5px;">Password should be at least 6 characters long!</p>
            </ion-text>
            <ion-text color="danger" *ngIf="(con_pass.touched && con_pass.errors?.passwordMismatch)">
              <p style="font-size: 12px;margin: 5px;">Password does not match!</p>
            </ion-text>
      </div>
    
      <div style="margin:15px 2px;">
        <ion-button type="submit" shape="round" expand="full" style="height:45px;--background:linear-gradient(92deg, #989aa2, #07ADEB) !important;--color: #fff;">Update</ion-button>
      </div>
    </form>
  </ion-card-content>
  </ion-card>
  </div>
</ion-content>
