.noti-ttf{
    letter-spacing: 0.1px !important; line-height: 1.4;
}

ion-icon{
    color: #07ADEB;
    --color: #07ADEB;
}

ion-item ion-label{
    white-space: normal;
    font-weight: 500;
}


.unseen_class{
    --background: #eff3ffa8;
}