.order_op ion-item{
    --padding-top: 2%;
    --padding-bottom: 2%;
 } 
 
 ion-segment-button{
    ion-label{
        font-weight: 600;
    }
}

ion-chip{
    ion-label{
        font-weight: 600;
    }
}