<ion-header class="ion-no-border" #header>
  <ion-toolbar>
    <ion-row style="width:100%;align-items: center;">
      <ion-col size="10.5">
        <div style="display: flex;align-items: center;justify-content: space-between;padding: 0px 14px;">
          <div>        
            <ion-text style="color:#ffffff;font-weight: 600;">Market Place</ion-text>
          </div>
          <!-- <div  *ngIf="(isLoggedIn === true)" >
            <ion-buttons>
              <ion-button (click)="go_to_notifications()" style="width: 42px;height: 42px; position:relative;">
                <ion-icon slot="icon-only" name="notifications-outline" style="color:#ffffff;"></ion-icon>
              </ion-button>
              <ion-button (click)="go_to_cart()" style="width: 42px;height: 42px; position:relative;">
                <ion-icon slot="icon-only" name="bag-handle-outline" style="color:#ffffff;"></ion-icon>
                <div *ngIf="(isCartData === true)" style="position: absolute;top: 0px;height: 6px;width: 6px;border-radius: 50%;background: #e63e3e;right: 2px;"></div>
              </ion-button>
            </ion-buttons>
          </div>
          <div  *ngIf="(isLoggedIn === false || isLoggedIn === undefiend)">
            <ion-buttons>
              <ion-button style="--color: #ffffff !important;font-weight: 600;">Login</ion-button>
            </ion-buttons>
          </div> -->
        </div>
      </ion-col>
      <ion-col  size="1.5">
        <!-- <ion-avatar *ngIf="(isLoggedIn === true)">
          <img  [src]="user_img"  onError="this.src='assets/no_user.jpeg'">
        </ion-avatar>
        <ion-avatar *ngIf="(isLoggedIn === false || isLoggedIn === undefiend)">
          <img src="assets/no_user.jpeg">
        </ion-avatar> -->
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"  [scrollEvents]="true" (ionScroll)="onScroll($event)">
  <ion-refresher  mode="md" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <!-- <ion-toolbar *ngIf="(gameForSale_Data && gameForSale_Data?.length >= 1)" #toolbar style="padding: 4px 0px;"> -->
    <ion-toolbar #toolbar style="padding: 4px 0px;">
    <ion-row>
      <ion-col size="0.5"></ion-col>
      <ion-col size="5">
        <ion-item button (click)="filterClick()" lines="none" detail="false" style="--background:#EEFBFF;--min-height: 40px;border-radius:10px;">
          <div style="display:flex; margin: auto; align-items: center;font-weight:600;color:#212529;"><ion-icon name="filter-outline"></ion-icon>&nbsp;&nbsp;Filter</div>
       </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="5">
        <ion-item button  (click)="sortClick()" lines="none" detail="false" style="--background:#EEFBFF;--min-height: 40px;border-radius:10px;">
          <div style="display:flex; margin: auto; align-items: center;font-weight:600;color:#212529;"><ion-icon name="options-outline"></ion-icon>&nbsp;&nbsp;Sort</div>
        </ion-item>
      </ion-col>
      <ion-col size="0.5"></ion-col>
    </ion-row>
  </ion-toolbar>




<div *ngIf="(!gameForSale_Data)"><br>
  <div style="display:none;justify-content: space-between;width: 90%;margin: auto;">
    <div style="width:40%;"><ion-skeleton-text animated style="width: 100%;height: 40px;border-radius:2px;"></ion-skeleton-text></div>
    <div style="width:40%;"><ion-skeleton-text animated style="width: 100%;height: 40px;border-radius:2px;"></ion-skeleton-text></div>
  </div>
  <ion-item>
    <ion-thumbnail slot="start"> <ion-skeleton-text></ion-skeleton-text> </ion-thumbnail>
    <ion-label>
      <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
      <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start"> <ion-skeleton-text></ion-skeleton-text> </ion-thumbnail>
    <ion-label>
      <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
      <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start"> <ion-skeleton-text></ion-skeleton-text> </ion-thumbnail>
    <ion-label>
      <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
      <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item>
  <ion-item>
    <ion-thumbnail slot="start"> <ion-skeleton-text></ion-skeleton-text> </ion-thumbnail>
    <ion-label>
      <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
      <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
      <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
    </ion-label>
  </ion-item><br>
</div>



<div *ngIf="(gameForSale_Data?.length === 0)" style="display:flex;align-items: center;justify-content: center;height:100%;font-weight:600;color: #666666;">
  No Records Found!
</div>

<div *ngIf="(gameForSale_Data && gameForSale_Data?.length >= 1)"  class="isData">
  <ion-list>
  <ion-item  *ngFor="let gsd of gameForSale_Data | slice:0:numOfData; let i=index" button detail="false" (click)="goto_productDetails(gsd.prodid)">
    <ion-thumbnail slot="start" style="position:relative;background:#EFF3FF;border-radius:8px;">
      <img [src]="gsd.thumbnail_img" onError="this.src='assets/no_img.jpeg'" style="padding:10px;"/>
      <!-- <div style="position: absolute; top: 0px; left: 0px;">
        <ion-chip *ngIf="(gsd.prod_status === 'new')" > <ion-label>New</ion-label> </ion-chip>
      </div>
      <div  *ngIf="(isLoggedIn === false || isLoggedIn === undefiend)" style="position: absolute; top: 0px; right: 0px;">
        <ion-buttons>
          <ion-button class="cust_save" shape="round" [routerLink]="['/login']">
            <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </div>
      <div  *ngIf="(isLoggedIn === true)" style="position: absolute; top: 0px; right: 0px;">
       <ion-buttons>
         <ion-button *ngIf="(gsd.wishlist_status === 'unsaved')" class="cust_save" shape="round">
           <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
         </ion-button>
         <ion-button  *ngIf="(gsd.wishlist_status === 'saved')" class="cust_save" shape="round">
           <ion-icon slot="icon-only" name="heart"></ion-icon>
         </ion-button>
       </ion-buttons>
      </div> -->
    </ion-thumbnail>
    <ion-label>
      <h3 style="margin: 0px 0px 4px;color:#212529;font-weight:600;">{{gsd.prodname}}</h3>
      <p style="font-weight:700;color: #666666;font-size:13px;margin:0px 0px 8px;">{{gsd.grade}}</p>
      <div style="display:flex;justify-content: space-between;color: #666666;margin:4px 0px;">
        <div *ngIf="(gsd.seal_grade_nm)" style="display:inline-flex;font-size:13px;font-weight:700;">Seal Grade: {{gsd.seal_grade_nm}}</div>
        <div *ngIf="(gsd.box_grade_nm)" style="display:inline-flex;font-size:13px;font-weight:700;">Box Grade: {{gsd.box_grade_nm}}</div>
      </div>
      <div style="display:flex;justify-content: space-between;color: #666666;margin:4px 0px 8px;">
        <div *ngIf="(gsd.vga_grade_nm)" style="display:inline-flex;font-size:13px;font-weight:700;">VGA Grade: {{gsd.vga_grade_nm}}</div>
        <div *ngIf="(gsd.variant_nm)" style="display:inline-flex;font-size:13px;font-weight:700;">Varient: {{gsd.variant_nm}}</div>
      </div>
      <p *ngIf="(gsd.prodprice)" style="font-weight:600;color:#212529;">${{gsd.prodprice}}</p>
    </ion-label>
  </ion-item>
  </ion-list>
  
  <ion-infinite-scroll *ngIf="(gameForSale_Data?.length > numOfData)" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      distance="4%">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</div>


</ion-content>
