<ion-header class="ion-no-border" #header>
  <ion-toolbar>
    <!-- <ion-buttons slot="start">
      <ion-back-button  icon="arrow-back"  text="" defaultHref=""></ion-back-button>
    </ion-buttons> -->

    <app-bk-btn slot="start"></app-bk-btn>
    <ion-text>Recent Price Changed</ion-text>
    <!-- <ion-title class="ion-text-start">Newly Added</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollEvents="true" (ionScroll)='onScroll($event)'>
  <!-- <ion-refresher  mode="md" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->


  <ion-toolbar  #toolbar style="display:none;">
    <ion-row>
      <ion-col size="0.5"></ion-col>
      <ion-col size="5">
        <ion-item button  (click)="sortClick()"  lines="none" detail="false" style="--background:#EEFBFF;--min-height: 40px;border-radius:10px;">
          <div style="display:flex; margin: auto; align-items: center;font-weight:600;color:#212529;"><ion-icon name="options-outline"></ion-icon>&nbsp;&nbsp;Sort</div>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="5">
        <ion-item button  (click)="filterClick()"  lines="none" detail="false" style="--background:#EEFBFF;--min-height: 40px;border-radius:10px;">
           <div style="display:flex; margin: auto; align-items: center;font-weight:600;color:#212529;"><ion-icon name="filter-outline"></ion-icon>&nbsp;&nbsp;Filter</div>
        </ion-item>
      </ion-col>
      <ion-col size="0.5"></ion-col>
    </ion-row>
  </ion-toolbar>



  <div *ngIf="(!recentPriceChange_Data)"><br>
        <ion-item>
          <ion-thumbnail slot="start"> <ion-skeleton-text></ion-skeleton-text> </ion-thumbnail>
          <ion-label>
            <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
            <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
            <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"> <ion-skeleton-text></ion-skeleton-text> </ion-thumbnail>
          <ion-label>
            <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
            <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
            <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"> <ion-skeleton-text></ion-skeleton-text> </ion-thumbnail>
          <ion-label>
            <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
            <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
            <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"> <ion-skeleton-text></ion-skeleton-text> </ion-thumbnail>
          <ion-label>
            <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
            <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
            <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-thumbnail slot="start"> <ion-skeleton-text></ion-skeleton-text> </ion-thumbnail>
          <ion-label>
            <h3><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
            <p><ion-skeleton-text animated style="width: 60%"></ion-skeleton-text></p>
            <p><ion-skeleton-text animated style="width: 30%"></ion-skeleton-text></p>
          </ion-label>
        </ion-item><br>
  </div>
      
  <div *ngIf="(recentPriceChange_Data?.length === 0)" style="display:flex;align-items: center;justify-content: center;font-weight:600;height:100%;color: #666666;">
    No Records Found!
  </div>
   
    
      
  <div *ngIf="(recentPriceChange_Data && recentPriceChange_Data?.length >= 1)"  class="isData">
        <ion-list>
        <ion-item  *ngFor="let rpc of recentPriceChange_Data | slice:0:numOfData; let i=index" button detail="false">
          <ion-thumbnail slot="start" style="position:relative;background:#EFF3FF;border-radius:8px;">
            <img [src]="rpc.thumbnail_img" onError="this.src='assets/no_img.jpeg'" style="padding:10px;"/>
            <!-- <div style="position: absolute; top: 0px; left: 0px;">
              <ion-chip *ngIf="(rpc.prod_status === 'rpc')" > <ion-label>rpc</ion-label> </ion-chip>
            </div>
            <div  *ngIf="(isLoggedIn === false || isLoggedIn === undefiend)" style="position: absolute; top: 0px; right: 0px;">
              <ion-buttons>
                <ion-button class="cust_save" shape="round" [routerLink]="['/login']">
                  <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
            <div  *ngIf="(isLoggedIn === true)" style="position: absolute; top: 0px; right: 0px;">
             <ion-buttons>
               <ion-button *ngIf="(rpc.wishlist_status === 'unsaved')" class="cust_save" shape="round">
                 <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
               </ion-button>
               <ion-button  *ngIf="(rpc.wishlist_status === 'saved')" class="cust_save" shape="round">
                 <ion-icon slot="icon-only" name="heart"></ion-icon>
               </ion-button>
             </ion-buttons>
            </div> -->
          </ion-thumbnail>
          <ion-label>
            <h3 style="margin: 0px 0px 8px;color:#212529;font-weight:600;">{{rpc.prodname}}</h3>
            <p style="font-weight:700;color:#212529;font-size:13px;">{{rpc.grade}}</p>
            <div style="display:flex;;justify-content: space-between;color: #666666;margin:4px 0px;">
              <div *ngIf="(rpc.seal_grade_nm)" style="display:inline-flex;font-size:13px;font-weight:700;">Seal Grade: {{rpc.seal_grade_nm}}</div>
              <div *ngIf="(rpc.box_grade_nm)" style="display:inline-flex;font-size:13px;font-weight:700;">Box Grade: {{rpc.box_grade_nm}}</div>
            </div>
            <div style="display:flex;justify-content: space-between;color: #666666;margin:4px 0px 8px;">
              <div *ngIf="(rpc.vga_grade_nm)" style="display:inline-flex;font-size:13px;font-weight:700;">VGA Grade: {{rpc.vga_grade_nm}}</div>
              <div *ngIf="(rpc.variant_nm)" style="display:inline-flex;font-size:13px;font-weight:700;">Varient: {{rpc.variant_nm}}</div>
            </div>
            <p style="font-weight:600;">${{rpc.prodprice}}</p>
          </ion-label>
        </ion-item>
        
        <ion-infinite-scroll *ngIf="(recentPriceChange_Data?.length > numOfData)" (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content
          loadingSpinner="crescent"
          distance="4%">
        </ion-infinite-scroll-content>
        </ion-infinite-scroll>
        </ion-list>
  </div>
  
</ion-content>

<!-- [
    {
        "prodid": "804",
        "thumbnail_img": [
            "https://minusworlds.com/uploads/572713921_EFE8E1EC-9882-4711-BD8C-FF494BCEDEA6.jpeg"
        ],
        "prodname": " Super Nintendo Konami Cybernator WATA 9.4 A+ (Assault Suit Valken)",
        "prodprice": 8000,
        "company_name": null,
        "grade": null,
        "vga_grade_nm": null,
        "seal_grade_nm": "A+",
        "box_grade_nm": "9.4",
        "variant_nm": "Made in Japan (snes)",
        "disclaimers_checkbox": "",
        "desc": "<p>&nbsp;Super Nintendo Konami Cybernator WATA 9.4 A+ (Assault Suit Valken)</p>",
        "wishlist_status": "unsaved"
    }
] -->
